/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

nav {
    z-index: 9999;
}

p {
    line-height: 2rem;
}


.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.radius-little {
    border-radius: 0.4em;
}

.nav-category-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    line-height: 6em;
}

.parallax-container .section {
    width: 100%;
}

.line-h-2 { line-height: 2}
.line-h-3 { line-height: 3}
.t-placeholder {color: #A4A4A4}
.t-inputBlack { color: black }
.t-inputWhite { color: #ffffff }

/* PC */
@media only screen and (min-width: 993px) {
    nav {
        height: 10em;
    }

    nav .brand-logo {
        display: none;
    }

    /* PC 환경에서만 사용 */
    nav .pc-brand-logo {
        height: 4em;
        display: inline-block;
        position: static;
    }

    /* PC 환경에서만 사용 */
    nav .pc-brand-logo img {
        width: 10em;
        vertical-align: middle;
    }


}

/* 테블릿 */
@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }

    h5 {
        font-size: 1.7em;
    }

    nav .brand-logo {
        display: "";
    }

    nav .brand-logo img {
        width: 5em;
        vertical-align: middle;
    }

    /* 메인 영역 크기 조절 */
    .header-wrapper {
        width: 30em !important;
        font-size: 1.5em;
    }

}

/* 모바일 */
@media only screen and (max-width: 600px) {
    nav {
        height: 64px;
    }

    h5 {
        font-size: 2em;
    }

    .header-wrapper {
        width: 30em !important;
        font-size: 0.9em;
    }

    #index-banner .section {
        top: 0;
    }

    /* 모바일환경에서는 화살표 버튼 비노출 */
    .dCateArrowDiv {
        display: none;
    }

    /* 상세카테고리명 중앙 정렬 */
    .categoryHeadName {
        margin-top: 1em;
        float: none;
        width: 100%;
        text-align: center;
    }

    /* 마켓 카테고리 컨텐츠 */
    .categoryWrapper ul li {
        width: 33% !important;
        padding: 1em;
    }
}



.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.margin-b50 {
    margin-bottom: 50px;
}

.header-wrapper {
    width: 41em;
    z-index: 9;
    text-align: center;
    position: absolute;
    left: -999px;
    right: -999px;
    margin: 0 auto;
}

.card-wrapper {
    width: 1000px;
    z-index: 9;

    display: flex;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    justify-content: space-around;
    /*text-align: center;*/
    /*position: absolute;*/
    /*left: -999px;*/
    /*right: -999px;*/
    /*margin: auto;*/
    /*padding: auto;*/
}

/* 검색 흰배경 영역 */
.inputSearchBar {
    width: 100%;
    height: 3em;
    /*position: absolute;*/
    display: inline-block !important;
    background-color: #ffffff !important;
    z-index: 1;
}

.flex-nav-container {
    display: flex;
    align-items: center;
    align-content: stretch;
}

.nav-wrapper ul {
    height: 4em;
}


/* PC 상단 검색바 */
.inputNavSearchBar {
    display: inline-block !important;
    width: 20em;
    height: 2em;
    line-height: 2em;
    background-color: #5882FA;
    z-index: 1;
    /*margin: auto;*/
    vertical-align: middle;
}

/* 검색 이미지 버튼 영역  */
.searchButton-wrapper {
    display: inline-block;
    float: right;
    height: 100%;
    width: 2em
}

/* 검색 돋보기 버튼 */
.inputNavSearchBar .searchButton {
    /*width: 1.3em;*/
    /*height: 80%;*/
    /*float: right;*/
    display: inline-block;
    line-height: 1;
    text-align: center;
    /*vertical-align: middle;*/
    /*text-align: left;*/
    /*color: black;*/
    /*cursor: pointer;*/
}


/* 검색 텍스트 영역 */
.textArea {
    width: 92%;
    text-align: left;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow:ellipsis;*/
    cursor: pointer;
}

/* PC 상단 검색창 영역 */
.nav-textArea {
    float: left;
    text-align: left;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow:ellipsis;*/
    cursor: pointer;
    width: 85%;
}

/* 입력시 글씨색 변경 */
.textArea:focus {
    color: black !important;
}

/* 검색 돋보기 버튼 */
.inputSearchBar .searchButton {
    width: 8%;
    float: right;
    line-height: 3;
    text-align: center;
    color: black;
    cursor: pointer;
}

/* 검색창 깜박임 처리 */
.blink {
    width: 3px;
    height: 1em;
    padding: 0;
    margin-top: 1em;
    margin-left: 2px;
    /* 애니메이션 1.5초 반복 */
    -webkit-animation: blink 1.5s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        background-color: #FFFFFF;
    }
    100% {
        background-color: #A4A4A4;
    }
}

/* 컨테이너 재정의 */
.contentContainer {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding-top: 1em;
    margin-bottom: 3em;
}

/* 마켓 카테고리 영역 */
.categoryWrapper{
    /* 원형 처리 */
    border-radius: 7.5em;

    /* 기존 영역 덮어씌우도록 처리 */
    bottom: 3em;
    position: relative;

    height: 6em;
    /*background-color: #d81b60;*/
    background-color: #FFFFFF;
    margin-bottom: 0;
}

/* 마켓 카테고리 ul */
.categoryWrapper .categoryUl {
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*align-content: stretch;*/
}

/* 마켓 카테고리 컨텐츠 */
.categoryWrapper ul li {
    float: left;
    /* 영역당 10% */
    width: 10%;
    text-align: center;
    /* 컨텐츠 가로 정렬 */
    display: inline-block;
    cursor: pointer;
}

/* 마켓 카테고리 컨텐츠 margin */
.categoryWrapper ul li div {
    margin-bottom: 0.5em;
}

/* 상세카테고리 영역 */
.dCateDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* 카테고리 제목 */
.categoryHeadName {
    float: left
}

/* 상세카테고리 화살표 영역 */
.dCateArrowDiv {
    margin-top: 1.5em;
    /*width: 100%;*/
    float: right;
}

/* 상세카테고리 화살표 영역 내 아이템 영역*/
.dCateArrowDiv div {
    display: inline-block;
    border: 1px solid #5a5a5a;
    width: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
    cursor: pointer;
}

/* 상세카테고리 카드 */
.dCateCardDiv {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /*padding-right: 5em;*/

}

/* 상세카테고리 카드Item */
.dCateCardDiv div {
    position: relative;
    margin: auto;
}

/* 상세카테고리 이미지 */
.dCateCardDiv img {
    display: inline-block;
    width: 90%;
    height: 150px;
    border-radius: 1em;
    margin: auto;
    cursor: pointer;
}

/* 이미지 blur, sepia 처리 */
.dCateCardDiv img:hover {
    /* 크롬, 사파리, 오페라 */
    -webkit-filter: blur(3px) sepia(0.5);
    /* 파이어폭스 */
    filter : blur(3px) sepia(0.5);
    transition-duration: 1s;
    /*transition-delay: 0.5s;*/
}

/* 상세카테고리 제목 */
.dCateContent {
    position: absolute;
    text-align: left;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 4em;
    left: 1em;
    bottom: 0;
    right: 0;
    z-index: 51;
    color: #FFFFFF;
    font-size: 1em;
}

.dCateCardItem:hover {
    color: #2962FF;
}



/* 카드박스 영역 */
.cardBox {
    width: 250px;
    height: 350px;
    margin: auto;
    text-align: center;
    border-radius: 1em;
    z-index: 99;
    overflow: hidden;
}

/* 카드박스 헤더 영역 */
.cardBox .cardBoxHead {
    width: 100%;
    height: 20%;
    line-height: 4em;
    background-color: #9e9e9e;
    opacity: 0.8;
}

.cardBoxHead:hover {
    opacity: 1;
}

/* 카드박스 리스트 내용 영역*/
.cardBox .cardBoxContent {
    width: 100%;
    height: 80%;
    display: flex;
    /*flex-wrap: nowrap;*/
    overflow: auto;
    flex-direction: column;
    line-height: 4em;
    cursor: pointer;
}

/* 카드박스 리스트 아이템 영역 */
.cardBoxContent .cardBoxItem {
    width: 100%;
    height: 33%;
    display: flex;
    flex-wrap: nowrap;
    background-color: #ffffff;
    opacity: 0.8;
}

.cardBoxItem:hover {
    opacity: 1;
}


.cardBoxItem .content {
    width: 100%;
    flex-grow: 3;
}

/* 박스아이템 브랜드명 */
.cardBoxItem .content h5 {
    font-size: 0.8em;
    color: #5a5a5a;
    font-weight: bold;
    /*margin: 0.3em;*/
    /*margin-top: 0.4em;*/
    padding-top: 0.1em;
}

/* 박스아이템 상품명 */
.cardBoxItem .content h4 {
    font-size: 0.8em;
    color: #5a5a5a;
    /*font-weight: bold;*/
    margin: 0.1em;
    padding: 0.1em;
}

/* 박스아이템 가격 */
.cardBoxItem .content p {
    margin-top: 0.1em;
    font-size: 1em;
    color: #5a5a5a;
}

/* 이미지 내 남은 시간 */
.remainingDateText {
    position: relative;
    z-index: 999;
    bottom: 6em;
    color: #e51c23;
    /* hover시에만 보이도록 hidden 처리 */
    visibility: hidden;
}

/* 카드박스 이미지 영역 */
.cardBoxItem .imgDiv {
    width: 40%;
    flex-grow: 1;
}

/* 카드박스 이미지 */
.cardBoxItem .imgDiv .im {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    padding: 1em;
}

/* 카드박스 이미지 hover시 블러처리 */
.cardBoxItem .imgDiv .im:hover {
    -webkit-filter: blur(3px);
    /* 파이어폭스 */
    filter : blur(3px);
    transition-duration: 1s;
}

/* PC 환경에서 상단 탑바 고정하기 위한 클래스*/
.jbFixed {
    position: fixed;
    top: 0px;
}

/* float 제거용 */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
