/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.sidenav-trigger {
    color: #26a69a;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width: 600px) {
    #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

.margin-b50 {
    margin-bottom: 50px;
}

.header-wrapper {
    width: 650px;
    z-index: 9;
    text-align: center;
    position: absolute;
    left: -999px;
    right: -999px;
    margin: 0 auto;
}

/* 검색 흰배경 영역 */
.inputSearchBar {
    width: 100%;
    height: 3em;
    /*position: absolute;*/
    display: inline-block !important;
    background-color: #ffffff !important;
    z-index: 1;
}

/* 검색 텍스트 영역 */
.inputSearchBar .textArea {
    width: 600px;
    float: left;
    line-height: 3;
    text-align: left;
    color: black;
    padding-left: 1em;
    overflow: hidden;
    white-space: nowrap;
    /*text-overflow:ellipsis;*/
}

.inputSearchBar .textArea:focus {
    color: red;

}

/* 검색 돋보기 버튼 */
.inputSearchBar .searchButton {
    width: 2em;
    float: right;
    line-height: 3;
    text-align: left;
    color: black;
    cursor: pointer;

}

/* 검색창 깜박임 처리 */
.blink {
    width: 3px;
    height: 1em;
    padding: 0;
    margin-top: 1em;
    margin-left: 2px;
    /* 애니메이션 2.5초 반복 */
    -webkit-animation: blink 2.5s linear infinite;
}

@-webkit-keyframes blink {
    0% {
        background-color: #FFFFFF;
    }
    100% {
        background-color: green;
    }
}

/* 컨테이너 재정의 */
.contentContainer {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding-top: 1em;
}

/* 마켓 카테고리 영역 */
.categoryWrapper{
    /* 원형 처리 */
    border-radius: 7.5em;

    /* 기존 영역 덮어씌우도록 처리 */
    bottom: 3em;
    position: relative;

    height: 6em;
    /*background-color: #d81b60;*/
    background-color: #FFFFFF;
    margin-bottom: 0;
}

/* 마켓 카테고리 ul */
.categoryWrapper .categoryUl {
    list-style: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* 마켓 카테고리 컨텐츠 */
.categoryWrapper ul li {
    float: left;
    /* 영역당 10% */
    width: 10%;
    text-align: center;
    /* 컨텐츠 가로 정렬 */
    display: inline-block;
    cursor: pointer;
}

/* 마켓 카테고리 컨텐츠 margin */
.categoryWrapper ul li div {
    margin-bottom: 0.5em;
}

/* 상세카테고리 영역 */
.dCateDiv {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* 카테고리 제목 */
.categoryHeadName {
    float: left;
}

/* 상세카테고리 화살표 영역 */
.dCateArrowDiv {
    margin-top: 1.5em;
    /*width: 100%;*/
    float: right;
}

/* 상세카테고리 화살표 영역 내 아이템 영역*/
.dCateArrowDiv div {
    display: inline-block;
    border: 1px solid #5a5a5a;
    width: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* float  제거  */
.clearBoth {
    clear: both;
}